Hermes has rerouted the following email and prevented it from being sent out. Had it actually been sent, here is what it would have included.
If you intended for this email to be sent, please get a Hermes Administrator to approve for sending emails.

= "-----------\n"
= "SUBJECT: #{@message.subject}\n"
= "TO: #{@message.to}\n"
= "CC: #{@message.cc}\n"
= "BCC: #{@message.bcc}\n"
= "-----------\n"

= @message.body
