= f.hidden_field :id
= f.hidden_field :client_id

.form-group
  = f.label :name, class: 'col-form-label'
  = f.text_field :name, class: 'form-control'
.form-group
  = f.label :description, class: 'col-form-label'
  = f.text_area :description, class: 'form-control'
.row
  .col-12.col-md-6
    %h4.mb-4
      Options
    .form-group.custom-control.custom-switch
      = f.check_box :active, class: 'custom-control-input'
      = f.label :active, class: 'custom-control-label'
