- page_title 'Edit', 'Mailing Topic'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Mailing Topics
        %h1.header-title
          = fa_solid 'clipboard-list'
          = "Edit #{@topic.name}"

= form_for @topic, url: client_topic_path(@topic), method: :patch  do |f|
  = error_messages_for 'topic'
  = render partial: 'mailing_topics/form', locals: { f: f }
  %hr.mt-5.mb-5
  = f.submit 'Save changes to topic', class: 'btn btn-block btn-primary'
  = link_to 'Cancel', client_path(@topic.client), class: 'btn btn-block btn-link text-muted'
