.list-group.list-group-flush.list-group-activity.my-n3
  - activity.order(:created_at).each do |r|
    - color = activity_color(r.activity_type)
    - message = activity_message(r.activity_type)
    - icon = activity_icon(r.activity_type)

    .list-group-item
      .row
        .col-auto
          .avatar.avatar-sm
            .avatar-title.font-size-lg.rounded-circle{class: "text-#{color} bg-#{color}-soft"}
              = fa_solid icon, 'ml-1'
        .col.ml-n2
          %h5.text-uppercase.mb-1= message
          - if r.activity_type == 'rerouted'
            %p.small.text-gray-700.mb-0
              Hermes modified the message to prevent it from going to its intended recipients
          - if r.activity_type == 'delivered'
            %p.small.text-gray-700.mb-0= r.recipient.email
          - if r.activity_type == 'clicked'
            %p.small.text-gray-700.mb-0= r.link_url
          - if r.activity_type == 'opened'
            %p.small.text-gray-700.mb-0 #{r.ip_address} - #{r.user_agent}
          %p.small.text-muted{title: r.notification_timestamp}
            #{time_ago_in_words r.notification_timestamp} ago
          - if r.activity_type == 'delivered'
            %a{"aria-controls" => "collapseDiff-#{r.id}", "aria-expanded" => "false", "data-toggle" => "collapse",
             :href => "#collapseInfo-#{r.id}", :role => "button"}
              View details
            .collapse{id: "collapseInfo-#{r.id}"}
              .card.card-body.mt-2
                %pre.card-text.overflow-auto
                  = r.reporting_mta
                  = r.smtp_response
