.row.mt-2
  .col-4
    .card
      .row.align-items-center
        .col
          %strong Client
        .col-auto
          %small.text-muted= link_to @message.client.name, client_path(@message.client)
      %hr
      .row.align-items-center
        .col
          %strong From
        .col-auto
          %small.text-muted= @message.sender
      %hr
      .row.align-items-center
        .col
          %strong Subject
        .col-auto
          %small.text-muted= @message.subject
      %hr
      .row.align-items-center
        .col
          %strong Environment
        .col-auto
          %small.text-muted= @message.environment
      %hr
      .row.align-items-center
        .col
          %strong Rule Set
        .col-auto
          %small.text-muted AWS

    .card.p-0= render partial: 'activity', locals: { activity: @message.basic_activity }
  .col-8
    .card
      = raw @message.text_body
