.row.mt-2
  .col-4
    .card.p-15
      .row.align-items-center
        .col
          %strong Client
        .col-auto
          %small.text-muted= link_to @message.client.name, client_path(@message.client)
      %hr
      .row.align-items-center
        .col
          %strong Environment
        .col-auto
          %small.text-muted= @message.environment

    .card.p-0= render partial: 'activity', locals: { activity: @message.system_activity }
  .col-8
    .card
      .row.align-items-center
        .col
          %strong From
        .col-auto
          %small.text-muted= @message.sender
      %hr
      .row.align-items-center
        .col
          %strong Subject
        .col-auto
          %small.text-muted= @message.subject
      %hr
      = render plain: @message.text_body, layout: false
