- page_title 'Mail Log'

.content
  %h1.content-title.font-size-22
    = fa_solid 'stream'
    Logs

.card
  %table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th Date Sent
          %th API Client
          %th Subject
          %th Environment
      %tbody.list
        - @messages.each do |c|
          %tr
            %td= link_to l(c.created_at), message_path(c.tracking_id)
            %td= c.client.name
            %td= c.subject
            %td
              %code= c.environment
  .mt-20
    = paginate @messages
    = page_entries_info @messages
