= t('rerouted')

CLIENT: #{@message.client.name} - #{@message.environment}

SUBJECT: #{@message.subject}

FROM: #{@message.sender}

TO: #{email_array_to_string @message.to}

- if @message.cc.present?
  CC: #{email_array_to_string @message.cc}

- if @message.bcc.present?
  BCC: #{email_array_to_string @message.bcc}

= @message.text_body
