- page_title 'View Message', 'Mail Log'

.header
  .header-body
    .row.align-items-center
      .col.ml-n3.ml-md-n2
        %h6.header-pretitle
          Messages
        %h1.header-title
          = fa_solid 'archive'
          = "Message #{@message.tracking_id}"
      .col-auto
        = link_to 'Go Back', messages_path, class: 'btn btn-white'
    .row.align-items-center
      .col
        %ul#workshopTab.nav.nav-tabs.nav-overflow.header-tabs{role: "tablist"}
          %li.nav-item
            %a#overview-tab.nav-link.active{"aria-controls": "attendee", "aria-selected": "true", "data-toggle": "tab", href: "#overview", role: "tab"}
              Overview
          %li.nav-item
            %a#recipients-tab.nav-link{"aria-controls": "recipients", "aria-selected": "false", "data-toggle": "tab", href: "#recipients", role: "tab"}
              = fa_solid 'mailbox'
              Recipients
              %span.badge.badge-primary= @message.recipients.count
          %li.nav-item
            %a#read-tab.nav-link{"aria-controls": "read", "aria-selected": "false", "data-toggle": "tab", href: "#read", role: "tab"}
              = fa_solid 'truck-container'
              Delivery Activity
              %span.badge.badge-primary= @message.delivery_activity.count
          %li.nav-item
            %a#link-tab.nav-link{"aria-controls": "link", "aria-selected": "false", "data-toggle": "tab", href: "#link", role: "tab"}
              = fa_solid 'paperclip'
              Link Activity
              %span.badge.badge-primary= @message.link_activity.count

#workshopTabContent.tab-content
  #overview.tab-pane.fade.show.active{"aria-labelledby": "overview-tab", role: "tabpanel"}
    = render partial: 'overview'
  #recipients.tab-pane.fade{"aria-labelledby": "recipients-tab", role: "tabpanel"}
    = render partial: 'recipients'
  #read.tab-pane.fade{"aria-labelledby": "recipients-tab", role: "tabpanel"}
    .card= render partial: 'activity', locals: { activity: @message.delivery_activity }
  #link.tab-pane.fade{"aria-labelledby": "link-tab", role: "tabpanel"}
    .card= render partial: 'activity', locals: { activity: @message.link_activity }
