= f.hidden_field :id
= f.hidden_field :client_id

.form-group
  = f.label :name, class: 'col-form-label'
  = f.text_field :name, class: 'form-control'
.form-row
  .form-group.col-12.col-lg-6
    = f.label :sender_name, class: 'col-form-label'
    = f.text_field :sender_name, class: 'form-control'
  .form-group.col-12.col-lg-6
    = f.label :sender_address, class: 'col-form-label'
    = f.email_field :sender_address, class: 'form-control'
.form-group
  = f.label :html_body, class: 'col-form-label'
  = f.text_area :html_body, class: 'form-control'
.form-group
  = f.label :text_body, class: 'col-form-label'
  = f.text_area :text_body, class: 'form-control'
.form-group
  = f.label :json_layout, class: 'col-form-label'
  = f.text_area :json_layout, class: 'form-control'
%hr.mt-5.mb-5
.row
  .col-12.col-md-6
    %h4.mb-4
      Options
    .form-group.custom-control.custom-switch
      = f.check_box :active, class: 'custom-control-input'
      = f.label :active, class: 'custom-control-label'
