- page_title 'New', 'Template'

.content
  %h1.content-title
    %i.fas.fa-clipboard-list
    Create a new Template

  = form_for @template, url: client_templates_path do |f|
    = error_messages_for 'template'
    = render partial: 'templates/form', locals: { f: f }
    %hr.mt-5.mb-5
    = link_to 'Cancel', client_path(@template.client_id), class: 'btn alt-dm'
    = f.submit 'Create', class: 'btn btn-success float-right'
