- content_for :header do
  Resend unlock instructions

= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, "data-turbo": "false" }) do |f|
  = render partial: 'devise/shared/error_messages'
  .form-group
    = f.email_field :email, autofocus: true, class: 'form-control', :placeholder => 'Email Address'
  .form-group
    = f.submit 'Resend unlock instructions', class: 'btn btn-primary btn-block btn-login'
  .login-bottom-links
    = render 'devise/shared/links'