- page_title 'Mail Log Search'

.card
  %h4.card-header.bg-primary.text-white
    = fa_solid 'envelope-open-text'
    Mail Logs
  %table.table.table-bordered.table-striped.table-border-fix
    %thead
      %tr
        %th Client
        %th Environment
        %th Subject
        %th= t('helpers.label.mail_log.to')
        %th Date Sent
    %tbody
      - @mail_logs.each do |c|
        %tr{data: { 'clickable-row': '', 'href': mail_log_path(c) }}
          %td= c.client.name
          %td= c.environment
          %td= c.subject
          %td= truncate(c.to, length: 30)
          %td= l(c.created_at)
  .card-footer
    = paginate @mail_logs
    = page_entries_info @mail_logs
