- page_title 'View', 'Mail Logs'

.row
  .col-4
    .card
      %h5.card-header.bg-primary.text-white
        = fa_light 'database'
        = "Log ##{@mail_log.id}"
      .card-body
        %dl
          %dt Client
          %dd= @mail_log.client.name
          %dt Tracking ID
          %dd= @mail_log.tracking_id
          %dt Environment
          %dd= @mail_log.environment
          %dt Content Type
          %dd= @mail_log.content_type
          %dt Rerouted?
          %dd= @mail_log.was_rerouted
      .card-footer
        = link_to 'Go Back', mail_logs_path, class: 'btn btn-outline-primary'
  .col-8
    .card
      %h5.card-header.bg-primary.text-white
        Header
      .card-body
        .row
          %strong.col-2 Subject
          .col-10= @mail_log.subject
        .row
          %strong.col-2 From
          .col-10= @mail_log.from        
        .row
          %strong.col-2 To
          .col-10
            = @mail_log.to
        - if @mail_log.cc.present?
          .row
            %strong.col-2 CC
            .col-10
              = @mail_log.cc
        - if @mail_log.bcc.present?
          .row
            %strong.col-2 BCC
            .col-10
              = @mail_log.bcc
    %br
    .card
      .card-body
        - if @mail_log.content_type == 'html'
          = @mail_log.body.html_safe
        - else
          %samp= simple_format(@mail_log.body)

    %br
    .card
      %h5.card-header.bg-primary.text-white
        = fa_light 'history'
        History
      %table.table.table-bordered.table-striped.table-border-fix
        %tbody
          %tr
            %td{width: '20%'}
              = fa_regular 'paper-plane'
              Sent
            %td
              = @mail_log.created_at
          - @mail_log.read_receipts.each do |r|
            %tr
              %td{width: '20%'}
                = fa_regular 'envelope-open'
                Read
              %td
                = r.created_at
