- page_title 'View', 'Mail Logs'

.row
  .col-4
    .card
      %h4.card-header.bg-primary.text-white
        = fa_solid 'envelope-open-text'
        = "Log ##{@mail_log.id}"
      .card-body
        %dl
          %dt Client
          %dd= link_to @mail_log.client.name, client_path(@mail_log.client)
          %dt Tracking ID
          %dd
            %code= @mail_log.tracking_id
          %dt Environment
          %dd
            %code= @mail_log.environment
          %dt Content Type
          %dd
            %code= @mail_log.content_type
          %dt Rerouted?
          %dd= @mail_log.was_rerouted
      .card-footer
        = link_to 'Go Back', mail_logs_path, class: 'btn btn-outline-primary'
  .col-8
    .card
      %h5.card-header.bg-primary.text-white
        Mail
      .card-body
        .row
          %strong.col-12.col-lg-2.text-uppercase Subject
          .col-12.col-lg-10= @mail_log.subject
        .row.mt-2
          %strong.col-12.col-lg-2.text-uppercase From
          .col-12.col-lg-10= @mail_log.from
        .row.mt-2
          %strong.col-12.col-lg-2.text-uppercase To
          .col-12.col-lg-10= @mail_log.to
        - if @mail_log.cc.present?
          .row.mt-2
            %strong.col-12.col-lg-2.text-uppercase CC
            .col-12.col-lg-10= @mail_log.cc
        - if @mail_log.bcc.present?
          .row.mt-2
            %strong.col-12.col-lg-2.text-uppercase BCC
            .col-12.col-lg-10= @mail_log.bcc
        .row.mt-2
          %strong.col-12.col-lg-2.text-uppercase Body
          .col-12.col-lg-10
            - if @mail_log.html?
              = @mail_log.body.html_safe
            - else
              %samp= simple_format(@mail_log.body)
    .card.mt-2
      %h5.card-header.bg-primary.text-white
        = fa_solid 'stream'
        Activity Log
      %ul.list-group
        %li.list-group-item.p-3
          %badge.badge-pill.badge-success.mr-2.p-2
            = fa_solid 'paper-plane', 'ml-1'
            %span.h6.text-uppercase.ml-1 Sent
          %samp= @mail_log.created_at
        - @mail_log.read_receipts.each do |r|
          %li.list-group-item.p-3
            %badge.badge-pill.badge-success.mr-2.p-2
              = fa_solid 'envelope-open', 'ml-1'
              %span.h6.text-uppercase.ml-1 Read
            %samp= r.created_at
