.card
  .card-header
    .row
      .col
        %h3.card-title
          %i.fas.fa-key-skeleton
          API Permissions
      .col-auto
        %a.btn.btn-sm{href: new_client_environment_path(@client)}
          New
  - if @client.environments.any?
    .table-responsive
      %table.table.card-table.table-sm
        %thead
          %tr
            %th Environment Name
            %th{style: 'width: 40%'} Permission Level
        %tbody
          - @client.environments.order(:name).each do |e|
            %tr
              %td= link_to e.name, edit_client_environment_path(@client, e)
              %td
                - if e.status == 'approved'
                  %span.badge.badge-success.badge-pill.text-uppercase= e.status
                - elsif e.status == 'rejected'
                  %span.badge.badge-danger.badge-pill.text-uppercase= e.status
                - elsif e.status == 'hold'
                  %span.badge.badge-secondary.badge-pill.text-uppercase= e.status
                - else
                  %span.badge.badge-pill.text-uppercase= e.status
  - else
    .text-center
      %h3.content-title No Environments
      %p.text-muted This client does not have permissions in any environments.