- page_title 'Edit', 'Client'

.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Clients
        %h1.header-title
          = fa_solid 'users'
          = "Edit #{@client.name}"

= form_for @client, url: client_path(@client), method: :patch  do |f|
  = error_messages_for 'client'
  = render partial: 'clients/form', locals: { f: f }
  %hr.mt-5.mb-5
  = f.submit 'Save changes to client', class: 'btn btn-block btn-primary'
  = link_to 'Cancel', clients_path, class: 'btn btn-block btn-link text-muted'
