- page_title 'Edit', 'Client'

.content
  %h1.content-title
    %i.fas.fa-code
    = "Edit #{@client.name}"

  = form_for @client, url: client_path(@client), method: :patch  do |f|
    = error_messages_for 'client'
    = render partial: 'clients/form', locals: { f: f }
    %hr.mt-5.mb-5
    = link_to 'Cancel', client_path(@client), class: 'btn'
    = f.submit 'Save changes', class: 'btn btn-success float-right'

