- page_title 'Client Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Overview
        %h1.header-title
          = fa_solid 'users'
          Clients
      .col-auto
        = link_to 'New Client', new_client_path, class: 'btn btn-primary lift'

.card
  %table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th Name
          %th Owner
          %th API Access
      %tbody
        - @clients.each do |c|
          %tr{data: { 'clickable-row': '', 'href': client_path(c) }}
            %td= c.name
            %td= c.owner
            %td
              - if c.is_active
                .text-success
                  Granted
              - else
                .text-danger
                  Denied
  .card-footer
    = paginate @clients
    = page_entries_info @clients
