- page_title 'Client Search'

.content
  .row
    .col
      %h1.content-title.font-size-22
        %i.fas.fa-code
        Clients
    .col-auto
      = link_to 'New Client', new_client_path, class: 'btn btn-primary lift'

.card.p-0
  %table-responsive
    %table.table.card-table
      %thead
        %tr
          %th Name
          %th Owner
          %th.float-right API Access
      %tbody
        - @clients.each do |c|
          %tr
            %td= link_to c.name, client_path(c)
            %td= c.owner
            %td.float-right
              - if c.is_active
                %span.badge.badge-success.text-uppercase Approved
              - else
                %span.badge.badge-danger.text-uppercase Blocked
  .p-10
    = paginate @clients
    = page_entries_info @clients
