- page_title 'Client Search'

.content
  %h1.content-title.font-size-22
    = fa_solid 'code'
    Clients
  .col-auto
    = link_to 'New Client', new_client_path, class: 'btn btn-primary lift'

.card
  %table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th Name
          %th Owner
          %th API Access
      %tbody
        - @clients.each do |c|
          %tr
            %td= link_to c.name, client_path(c)
            %td= c.owner
            %td
              - if c.is_active
                %span.badge.badge-soft-success.text-uppercase Approved
              - else
                %span.badge.badge-soft-danger.text-uppercase Blocked
  .card-footer
    = paginate @clients
    = page_entries_info @clients
