- page_title 'Client Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Clients
        %h1.header-title
          = fa_solid 'code'
          All Clients
      .col-auto
        = link_to 'New Client', new_client_path, class: 'btn btn-primary lift'

.card
  %table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th Name
          %th Owner
          %th API Access
      %tbody
        - @clients.each do |c|
          %tr{data: { 'clickable-row': '', 'href': client_path(c) }}
            %td= c.name
            %td= c.owner
            %td
              - if c.is_active
                %span.badge.badge-soft-success.text-uppercase Approved
              - else
                %span.badge.badge-soft-danger.text-uppercase Blocked
  .card-footer
    = paginate @clients
    = page_entries_info @clients
