- page_title @client.name, 'Client'

= render partial: 'header', locals: { action: :messages }

.row
  .col-12.col-md-4
    = render partial: 'overview'

  .col-12.col-md-8
    .card
      .card-header
        .row
          .col
            %h3.card-title
              %i.fad.fa-envelope-open-text
              Messages
          - if @client.environments.any?
            .col-auto
              %a.btn.btn-sm{href: client_new_email_path(@client)}
                New
      - if @client.messages.any?
        .table-responsive
          %table.table.card-table.table-sm
            %thead
              %tr
                %th Timestamp
                %th Subject
                %th Env
            %tbody
              - @client.messages.order(created_at: :desc).each do |m|
                %tr
                  %td= link_to l(m.created_at), message_path(m.tracking_id)
                  %td= m.subject
                  %td
                    %span.badge.text-monospace= m.environment

      - else
        .text-center
          %h3.content-title No Messages
          %p.text-muted This client does not have any email templates saved.

