- page_title @client.name, 'Client'

= render partial: 'header', locals: { action: :messages }

.row
  .col-12.col-md-4
    = render partial: 'overview'

  .col-12.col-md-8
    .card.p-0
      .px-card.py-10.bg-light-lm.bg-very-dark-dm
        .row
          .col
            %h2.card-title.font-size-18.m-0
              Messages
          - if @client.environments.any?
            .col-auto
              %a.btn.btn-sm{href: client_new_email_path(@client)}
                New
      - if @messages.any?
        .table-responsive
          %table.table.card-table.table-sm
            %thead
              %tr
                %th Timestamp
                %th Subject
                %th Env
            %tbody
              - @messages.each do |m|
                %tr
                  %td= link_to l(m.created_at), message_path(m.tracking_id)
                  %td= m.subject
                  %td
                    %span.badge.text-monospace= m.environment

      - else
        .text-center
          %h3.content-title.mt-10 No Messages
          %p.text-muted This client does not have any email templates saved.

