- page_title @client.name, 'Client'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Clients
        %h1.header-title
          .avatar
            %span.avatar-title.rounded-circle= @client.name.split.map(&:first).join
          = @client.name
      .col-auto
        = link_to 'Go Back', clients_path, class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_client_path(@client), class: 'btn btn-primary'
        - if @client.environments.any?
          = link_to 'Send Email', client_send_email_path(@client), class: 'btn btn-primary'
    .row.align-items-center
      .col
        %ul.nav.nav-tabs.nav-overflow.header-tabs
          %li.nav-item
            %a.nav-link.text-nowrap{href: client_path(@client), class: ''} Summary
          %li.nav-item
            %a.nav-link.text-nowrap{href: client_messages_path(@client), class: 'active'} Messages
          %li.nav-item
            %a.nav-link.text-nowrap{href: client_subscribers_path(@client), class: ''} Subscribers

.row
  .col-4
    = render partial: 'overview'

  .col-8
    .card
      .card-header
        .row.align-items-center
          .col
            %h3.card-header-title
              %i.fad.fa-object-group.fa-lg
              Messages
          .col-auto
            %a.btn.btn-sm.btn-white{href: new_client_template_path(@client)}
              New Templates
      - if @client.templates.any?
        .table-responsive
          %table.table.card-table.table-sm
            %thead
              %tr
                %th Name
                %th{style: 'width: 40%'} Status
            %tbody
              - @client.templates.each do |t|
                %tr
                  %td= link_to t.name, edit_client_template_path(@client, t)
                  %td
                    - if t.active
                      %span.badge.badge-soft-success.text-uppercase active
                    - else
                      %span.badge.badge-soft-warning.text-uppercase inactive
      - else
        .card-body.text-center.bg-transparent
          %h3 No Templates
          %p.text-muted This client does not have any email templates saved.

