- page_title 'New', 'Client'

= form_for @client, url: clients_path do |f|
  .card
    %h5.card-header.bg-primary.text-white
      New Client
    .card-body
      = error_messages_for 'client'
      = render :partial => 'clients/form', locals: { f: f }
    .card-footer
      = link_to 'Cancel', clients_path, class: 'btn btn-outline-primary'
      = f.submit 'Create', class: 'btn btn-success'
