- page_title 'Send Email'

.content
  %h1.content-title
    %i.fas.fa-code
    Send Email

  .row.justify-content-center
    .col-12.col-lg-10.col-xl-8
      = form_for @message, url: client_send_email_path(@client), html: { id: 'wizardSteps', class: 'tab-content py-6' } do |f|
        = error_messages_for 'message'

        .form-group
          = f.label :mailing_topic_id, class: 'col-form-label'
          = f.select :mailing_topic_id,
                      options_from_collection_for_select(@client.topics.active, 'id', 'name', @message.mailing_topic_id),
                      { include_blank: '- Select -' },
                      { class: 'form-control', 'data-toggle': 'select' }
        -# .form-group
        -#   = f.label :send_time, class: 'col-form-label'
        -#   = f.datetime_field :send_time, class: 'form-control'

        .form-group
          = f.label :template_id, class: 'col-form-label'
          = f.select :template_id,
                      options_from_collection_for_select(@client.templates.active, 'id', 'name', @message.template_id),
                      { include_blank: '- Select -' },
                      { class: 'form-control', 'data-toggle': 'select' }

        .form-group
          = f.label :environment_id, class: 'col-form-label'
          = f.select :environment_id,
                      options_from_collection_for_select(@client.environments.where(regex: false), 'id', 'fancy_name', @message.environment_id),
                      { include_blank: '- Select -' },
                      { class: 'form-control', 'data-toggle': 'select' }

        %hr.my-5

        .form-group
          = f.label :subject, class: 'col-form-label'
          = f.text_field :subject, class: 'form-control'
        .form-group
          = f.label :html_body, class: 'col-form-label'
          = f.text_area :html_body, class: 'form-control', rows: 7
        .form-group
          = f.label :text_body, class: 'col-form-label'
          = f.text_area :text_body, class: 'form-control', rows: 7

        %hr.my-5

        = link_to 'Back', client_path(@client), class: 'btn alt-dm'
        = f.submit 'Schedule', class: 'btn btn-success float-right'
