- page_title @client.name, 'Client'

= render partial: 'header', locals: { action: :summary }

.row
  .col-4
    = render partial: 'overview'

  .col-8
    = render partial: 'environments'
    = render partial: 'topics'
    = render partial: 'templates'
    = render partial: 'uploads'
