- page_title @client.name, 'Client'

.header.mt-md-5
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Clients
        %h1.header-title
          .avatar
            %span.avatar-title.rounded-circle= @client.name.split.map(&:first).join
          = @client.name
      .col
        - if @client.is_active
          %span.badge.badge-soft-success.text-uppercase API access granted
        - else
          %span.badge.badge-soft-danger.text-uppercase API access denied
      .col-auto
        = link_to 'Go Back', clients_path, class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_client_path(@client), class: 'btn btn-primary'

.row
  .col-4
    .card
      .card-body
        %dl
          %dt Owner
          %dd= @client.owner
          %dt Reroute Email
          %dd= @client.reroute_email
          %dt API Key
          %dd= @client.api_key
          %dt API Secret
          %dd= @client.api_secret
  .col-8

