- page_title @client.name, 'Client'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Clients
        %h1.header-title
          .avatar
            %span.avatar-title.rounded-circle= @client.name.split.map(&:first).join
          = @client.name
      .col
        - if @client.is_active
          %span.badge.badge-soft-success.text-uppercase API access granted
        - else
          %span.badge.badge-soft-danger.text-uppercase API access denied
      .col-auto
        = link_to 'Go Back', clients_path, class: 'btn btn-outline-primary'
        = link_to 'Edit', edit_client_path(@client), class: 'btn btn-primary'

.row
  .col-4
    .card
      .card-body
        .row.align-items-center
          .col
            %h5.mb-0 Owner
          .col-auto
            %small.text-muted
              = @client.owner
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 Reroute Email
          .col-auto
            %small.text-muted
              = @client.reroute_email
        - if @client.reply_to_email
          %hr
            .row.align-items-center
              .col
                %h5.mb-0 Default Reply Email
              .col-auto
                %small.text-muted
                  = @client.reply_to_email
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 API Key
          .col-auto
            %small.text-muted
              = @client.api_key
        %hr
        .row.align-items-center
          .col
            %h5.mb-0 API Secret
          .col-auto
            %small.text-muted
              = @client.api_secret
  .col-8
    .card
      .card-header
        %h3.card-header-title
          %i.fad.fa-at.fa-lg
          Permissions
      - if @client.environments.any?
        .table-responsive
          %table.table.card-table
            %thead
              %tr
                %th Environment Name
                %th Status
            %tbody
              - @client.environments.each do |e|
                %tr
                  %td
                    %pre= e.name
                  %td
                    %span.badge.badge-soft-info.text-uppercase= e.status
      - else
        .card-body.text-center.bg-transparent
          %h3 No Email Addresses
          %p.text-muted This contact does not have any addresses saved.

