= f.hidden_field :id
= f.hidden_field :client_id

.form-row
  .form-group.col
    = f.label :name, class: 'col-form-label'
    = f.text_field :name, class: 'form-control'
  .form-group.col
    = f.label :status, class: 'col-form-label'
    = f.select :status, ClientEnvironment.statuses.map { |key, value| [key.humanize, key] }, {}, {class: 'form-control'}
.form-group.custom-control.custom-switch
  = f.check_box :regex, class: 'custom-control-input'
  = f.label :regex, class: 'custom-control-label'