- page_title 'Edit', 'Template'

.content
  %h1.card-title
    %i.fas.fa-key-skeleton
    = "Edit #{@environment.name}"

  = form_for @environment, url: client_environment_path(@environment), method: :patch  do |f|
    = error_messages_for 'environment'
    = render partial: 'client_environments/form', locals: { f: f }
    %hr.mt-5.mb-5
    = link_to 'Cancel', client_path(@environment.client), class: 'btn alt-dm'
    = f.submit 'Save changes', class: 'btn btn-success float-right'
