- page_title 'New', 'API Permissions'

.content
  %h1.content-title
    %i.fas.fa-clipboard-list
    Create a new API Permission

  = form_for @environment, url: client_environments_path do |f|
    = error_messages_for 'environment'
    = render partial: 'client_environments/form', locals: { f: f }
    %hr.mt-5.mb-5
    = link_to 'Cancel', client_path(@environment.client), class: 'btn alt-dm'
    = f.submit 'Create', class: 'btn btn-success float-right'
