- page_title 'All Subscriptions'

.content
  %h1.content-title
    = fa_solid 'users'
    Subscription #{@subscription.identifier}

  = form_for @subscription, url: subscription_path(@subscription), method: :patch  do |f|
    = error_messages_for 'subscription'
    = render partial: 'subscriptions/form', locals: { f: f }
    %hr.mt-5.mb-5
    = link_to 'Cancel', subscriptions_path, class: 'btn alt-dm'
    = f.submit 'Save changes', class: 'btn btn-success float-right'