- page_title 'All Subscriptions'

.content
  %h1.content-title.font-size-22
    %i.fas.fa-users
    All Subscriptions

.card.p-0
  %table-responsive
    %table.table.card-table
      %thead
        %tr
          %th User
          %th Client
          %th Topic
          %th Status
      %tbody.list
        - @subscriptions.each do |s|
          %tr
            %td= link_to s.subscriber.name, edit_subscription_path(s)
            %td= s.topic.client.name
            %td= s.topic.name
            %td= l(s.created_at)
  .p-10
    = paginate @subscriptions
    = page_entries_info @subscriptions
