- page_title 'Message Search'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Subscriptions
        %h1.header-title
          = fa_solid 'users'
          All Subscriptions

.card
  %table-responsive
    %table.table.table-sm.card-table
      %thead
        %tr
          %th Date Sent
          %th API Client
          %th Subject
      %tbody.list
        - @subscriptions.each do |c|
          %tr{data: { 'clickable-row': '', 'href': subscription_path(c) }}
            %td= l(c.created_at)
            %td= c.client.name
  .card-footer
    = paginate @subscriptions
    = page_entries_info @subscriptions
