- page_title 'All Subscriptions'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Subscriptions
        %h1.header-title
          = fa_solid 'users'
          All Subscriptions

.card
  %table-responsive
    %table.table.card-table
      %thead
        %tr
          %th User
          %th Client
          %th Topic
          %th Status
      %tbody.list
        - @subscriptions.each do |s|
          %tr{data: { 'clickable-row': '', 'href': edit_subscription_path(s) }}
            %td= s.subscriber.name
            %td= s.topic.client.name
            %td= s.topic.name
            %td= l(s.created_at)
  .card-footer
    = paginate @subscriptions
    = page_entries_info @subscriptions
