- page_title 'Edit', 'Subscriber'

.header
  .header-body
    .row.align-items-center
      .col
        %h6.header-pretitle
          Subscribers
        %h1.header-title
          = fa_solid 'users'
          = "Edit #{@subscriber.name}"

= form_for @subscriber, url: client_subscriber_path(@subscriber), method: :patch  do |f|
  = error_messages_for 'subscriber'
  = render partial: 'subscribers/form', locals: { f: f }
  %hr.mt-5.mb-5
  = f.submit 'Save changes to subscriber', class: 'btn btn-block btn-primary'
  = link_to 'Cancel', client_subscribers_path(@subscriber), class: 'btn btn-block btn-link text-muted'
