- page_title 'Edit', 'Subscriber'

.content
  %h1.content-title
    %i.fas.fa-users
    = "Edit #{@subscriber.name}"

  = form_for @subscriber, url: client_subscriber_path(@subscriber), method: :patch  do |f|
    = error_messages_for 'subscriber'
    = render partial: 'subscribers/form', locals: { f: f }
    %hr.mt-5.mb-5
    = f.submit 'Save changes to subscriber', class: 'btn btn-block btn-primary'
    = link_to 'Cancel', client_subscriber_path(@subscriber.client_id), class: 'btn alt-dm'
