- if flash['success']
  .alert.alert-success{role: 'alert'}= flash['success']
- if flash['notice']
  .alert.alert-primary{role: 'alert'}= flash['notice']
- if flash['info']
  .alert.alert-primary{role: 'alert'}= flash['info']
- if flash['warning']
  .alert.alert-secondary{role: 'alert'}= flash['warning']
- if flash['error']
  .alert.alert-danger{role: 'alert'}= flash['error']