%meta{charset: 'utf-8'}
%title= page_title('Hermes')
%meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
%meta{name: 'author', content: 'MythCoders, LLC'}
%meta{name: 'description', content: 'Hermes'}
%meta{name: 'keywords', content: 'hermes'}
%link{rel: "shortcut icon", href: asset_path('logo.png'), type: "image/png"}

= csrf_meta_tags
= stylesheet_link_tag 'application', 'data-turbo-track': 'reload', type: 'text/css'
= javascript_pack_tag 'main', 'data-turbo-track': 'reload', type: 'text/javascript'
%script{src: "https://kit.fontawesome.com/41aacffc34.js"}

= yield :head
