!!!
%html{html_attrs('en-us')}
  %head
    = render partial: 'layouts/partials/header'
  %body.dark-mode{"data-sidebar-type": "overlayed-sm-and-down",
                  "data-set-preferred-mode-onload": "true",
                  "data-dm-shortcut-enabled": "true",
                  "data-sidebar-shortcut-enabled": "true"}
    = render partial: 'layouts/partials/logout'
    .page-wrapper.with-navbar.with-sidebar.with-transitions
      .sticky-alerts
      = render partial: 'layouts/partials/navbar'
      = render partial: 'layouts/partials/sidebar'
      .content-wrapper
        = render partial: 'layouts/partials/alerts'
        = yield :breadcrumbs
        = yield
    = yield :scripts
