= t('rerouted')
= "\n"
= "CLIENT: #{@message.client.name} - #{@message.environment}"
= "SUBJECT: #{@message.subject}"
= "TO: #{@message.to}"
= "FROM: #{@message.from}"
- if @message.cc.present?
  = "CC: #{@message.cc}"
- if @message.bcc.present?
  = "BCC: #{@message.bcc}"
= "\n"
= yield
