= t('rerouted')

= "\n---------------------"
= "CLIENT: #{@message.client.name}"
= "SUBJECT: #{@message.subject}"
= "TO: #{@message.to}"
= "FROM: #{@message.from}"
= "CC: #{@message.cc}"
= "BCC: #{@message.bcc}"
= "---------------------\n"

= yield
